/* Estilos del Nivel 04 */

body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #eee;
}

.ingreso {
    color: green;
    font-weight: bold;
}

.gasto {
    color: red;
    font-weight: bold;
}

select {
    padding: 8px;
    margin-left: 10px;
}

/* NIVEL 06 - Formulario */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin-top: 20px;
}

input,
select,
button {
    padding: 8px;
}

button {
    cursor: pointer;
}

.boton-borrar {
    cursor: pointer;
}